@import '@/styles/config.scss';
.layout_wrap {
  height: 100vh;

  .layout_wrap_content {
    height: 100vh;
    overflow: auto;
  }

  :global(.ant-layout-content) {
    min-height: auto;
  }
  .layout_header {
    position: relative;
    z-index: 2;
    height: 70px;
    background: #fff;
    @include webkit(box-shadow, 0 1px 5px #ddd);
    // box-shadow: 0 1px 5px #ddd;
    display: flex;
    justify-content: flex-end;
  }
  .layout_content {
    // border: 10px solid #f7f7f7;
    background: #fff;
    padding: 1em;
  }
  .layout_sider {
    position: relative;
  }
}